.health {
    display: grid;
    grid-template-rows: 1.9fr 0.1fr;
    gap: 2rem;
    border-radius: 1rem;
    text-align: center;
    width: 500px;
    aspect-ratio: 1/1.2;
}


@media screen and (max-width:600px) {
    .health {
        padding: 1.2rem;
        grid-template-columns: 1fr;
    }
}